#**Arithmetic Operators**

In [ ]:
#Addition

3 + 5

8

In [ ]:
"neeraj"+"20"

'neeraj20'

In [ ]:
#Subtraction

54 - 46

8

In [ ]:
#Multiplication

5 * 6

30

In [ ]:
#Division

35 /7

5.0

#**Comparison Operators**

In [ ]:
#greater than

45 >34

True

In [ ]:
#less than

45 <34

False

#**Logical Operators**

In [ ]:
# and operator

0 and 3

0

In [ ]:
# or operator

0 or 3

3

#**Conditinal statements**

Problem 1 : Take a variable x and print "Even" if the number is divisible by 2, otherwise print "Odd".

In [ ]:
x=8

if(x%2==0):
    print("Even")
else:
    print("Odd")

Even

Take a variable y and print "Grade A" if y is greater than 90, "Grade B" if y is greater than 60 but less than or equal to 90 and "Grade F" Otherwise.

In [ ]:
y=95

if(y>90):
    print("Grade A")
elif(y>60):
    print("Grade B")
else:
    print("Grade F")

Grade A

#**Looping constructs**

Write a for loop to print all the odd numbers between 10 and 50.

In [ ]:
for i in range(11,50,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

#**Functions**

Create a function that takes two numbers as argument and returns the greater of the two.

In [2]:
def compare(a,b):
    if(a>b):
        greater=a
    else:
        greater=b
    
    return greater

In [3]:
compare(10,50)

50

# **Dictionary**

In [4]:
#Creating a dictionary

marks={'history':45,'Geography':54,'Hindi':56}

In [5]:
marks

{'Geography': 54, 'Hindi': 56, 'history': 45}

In [6]:
# access elements

marks['Geography']

54

In [7]:
#adding elements

marks['english']=47

In [8]:
marks.update({'Chemistry':89,'Physics':98})

In [9]:
del marks['Hindi']

In [10]:
marks

{'Chemistry': 89, 'Geography': 54, 'Physics': 98, 'english': 47, 'history': 45}

#**Reading csv and excel file**

In [11]:
# importing pandas library

import pandas as pd

In [ ]:
# Reading the csv file

df = pd.read_csv("data.csv")

In [ ]:
# Reading excel file

df1 = pd.read_excel("data.xlsx")

#**Data frames**

In [ ]:
# Seeing the dimensions of the df dataframe

df.shape

In [ ]:
# top 5 rows

df.head()

In [ ]:
# bottom 5 rows

df.tail()

In [ ]:
# Seeing the names of the columns in the dataframe

df.columns

In [ ]:
# Selecting a single column

df['Bare_Nuclei']

In [ ]:
# selecting multiple columns using names

df[['Bare_Nuclei', 'Cancer_Type']]

**indexing**

In [ ]:
# selecting rows by their positions

df.iloc[:5]

In [ ]:
# selecting columns by their positions

df.iloc[:,:2]